@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    /* @apply border-border; */
  }
  body {
    /* @apply bg-background text-foreground; */
    color: white;
  }
}

.highlight {
  color: #f93110;
}

::-webkit-scrollbar {
  width: 5px; /* Adjust the width for a thinner scrollbar */
}

/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width for a thinner scrollbar */
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scroll-behavior: smooth;

  /* scrollbar-color: red black;  */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.white-scrollbar::-webkit-scrollbar {
  width: 3px; /* Adjust the width for a thinner scrollbar */
}

.white-scrollbar::-webkit-scrollbar-track {
  background: white; /* White track color */
}

.white-scrollbar::-webkit-scrollbar-thumb {
  background-color: white; /* Red scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid white; /* Border to match the track */
}

